.cat{
    height: 70vh;
    padding-left: 10px;
    padding-right: 10px;
    left: 50%;
    margin-left: 30vh;
  }
  
.container {
   
    height: 70vh;
    position: absolute;
}

.container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.container div{
    -webkit-animation: round 15s linear infinite;
    animation: round 15s linear infinite;
}
@-webkit-keyframes round{
    3%{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30%{
        opacity: 1;
        filter: alpha(opacity=100);     
    }
    33%{
        opacity: 0;
        filter: alpha(opacity=0);  
    }
}
@keyframes round{
    3%{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30%{
        opacity: 1;
        filter: alpha(opacity=100);     
    }
    33%{
        opacity: 0;
        filter: alpha(opacity=0);  
    }

}

.container div:nth-child(3) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.container div:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.container div:nth-child(1) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}
