header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    height: 13vh;
    background-color: $head-back-color;
    img {
        padding-top: 0.5vh;
        height: 12vh;
        width: 12vh;
    }
    .menu {
        position: absolute;
        right: 1rem;
        color: $head-font-color;
    }
    a {
        color: $head-font-color;
        text-decoration: none;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 7vh;
    background-color: $head-back-color;
    color: $foot-font-color;
    ul {
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
        text-align: center;
    }
    a {
        color: $foot-font-color;
        text-decoration: none;
    }
}

.eins,
.zwei,
.drei {
    border-right: 1px solid black;
}