* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    height: 13vh;
    background-color: #dfcfbc;
}

header img {
    padding-top: 0.5vh;
    height: 12vh;
    width: 12vh;
}

header .user {
    position: relative;
    left: 22rem;
    color: gray;
}

header .menu {
    position: absolute;
    right: 1rem;
    color: gray;
}

header a {
    color: gray;
    text-decoration: none;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 7vh;
    background-color: #dfcfbc;
    color: gray;
}

nav ul {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
}

nav a {
    color: gray;
    text-decoration: none;
}

.eins,
.zwei,
.drei {
    border-right: 1px solid black;
}

.about {
    height: 90vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ccbea3;
}

.l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 150vh;
    background-color: #ccbea3;
}

footer {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    bottom: 0px;
    background-color: #dfcfbc;
    margin: 0;
    padding: 0;
    color: gray;
    height: 30vh;
    width: 80vw;
}

footer .left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer .mid {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 3vh;
}

footer .mid .div {
    width: 10vw;
    padding-top: 10px;
}

footer .mid .div h3 {
    padding: 5px;
}

footer .mid .div h3 a {
    color: gray;
}

footer .right {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

footer .right img {
    height: 25vh;
    width: 25vh;
    padding-top: 5vh;
}

body {
    width: 80vw;
    margin: auto;
}

main #pic {
    height: 80vh;
    background-color: #ccbea3;
}

main #pic .container {
    height: 60vh;
    margin-top: 1rem;
    margin-right: 4rem;
}

main #sec {
    display: -webkit-box;
    display: -ms-flexbox;
    height: 170vh;
    width: 40vw;
    flex: 7;
    /*調整了從80改為175*/
}

main #sec .intro {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #ccbea3;
}

main #sec .buy {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #ccbea3;
}

a {
    color: gray;
    text-decoration: none;
}

.cart {
    position: fixed;
    z-index: 9999;
    right: calc(20vh);
    bottom: 2vh;
    border-radius: 50%;
    background-color: red;
    border: 0px;
    font-size: 24px;
    text-align: center;
    color: white;
    height: 4rem;
    width: 4rem;
}

.cart a {
    color: white;
}

#shop {
    height: 170vh;
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ccbea3;
    flex: 3;
}

#shop .shop {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 60vh;
    width: 100%;
}

#shop .shop form {
    height: 50vh;
    width: 90%;
    border-radius: 3%;
    margin: 10%;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}

#shop .feed {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

#shop .feed form {
    height: 50vh;
    width: 80%;
    border-radius: 3%;
    margin: 10%;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}

#shop .feed form textarea {
    margin-top: 5%;
    max-width: 100%;
    min-width: 100%;
    max-height: 80%;
    min-height: 80%;
}


/*# sourceMappingURL=main.css.map */


/*
這段是心民寫的 以下是商品介紹CSS 6/13
*/

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-family: "微軟正黑體";
    font-weight: bold;
}

.card {
    height: 200px;
    width: 80%;
    border-radius: 6px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-left: 30px;
    padding-right: 45px;
    background-color: rgb(252, 233, 209);
}

#buy_btn {
    font-size: 16px;
    font-family: "微軟正黑體";
    font-weight: bold;
    width: 100px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: green;
    border: 0;
    float: left;
    border-radius: 6px;
}

.img {
    height: 150px;
    float: right;
    border-radius: 5px;
    padding-bottom: 20px;
}


/* 購買鍵 */

#buying_btn {
    font-size: 16px;
    font-family: "微軟正黑體";
    font-weight: bold;
    width: 80px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: green;
    border: 0;
    float: left;
    border-radius: 6px;
    margin-left: 10px;
}


/* 價格文字*/

.price {
    font-size: 30px;
    font-family: "微軟正黑體";
    font-weight: bold;
    color: orangered;
}

.fix {
    display: flex;
}


/*熱門商品排行*/

#hot {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #ccbea3;
}

.hotitem {
    height: 200px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 3rem;
    font-size: 20px;
    margin: auto;
    font-family: "微軟正黑體";
    font-weight: bold;
    text-align: center;
}

.hotitem img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
}



hr {
    color: rgba(0, 0, 0, 0.7);
}

.hoth2 {
    flex: 2;
    margin-top: 2rem;
}

.hoth2 h1 {
    font-size: 30px;
}

.hotcon {
    flex: 7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}